# Ignore macOS .DS_Store
.DS_Store

# Ignore Jekyll Folders
_drafts/
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ignore Ruby Gem lock
Gemfile.lock

# Ignore Front Matter
.frontmatter/
frontmatter.json