// Base CSS
// Reset Basic Elements
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
	margin: 0;
	padding: 0;
}


// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: normal;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


// Basic Styling
html,
body {
	height: 100%;
}

body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: 300;
	color: $light-white;
	background-color: $light-white;
	-webkit-text-size-adjust: 100%;
	display: flex;
	flex-direction: column;
}


strong {
	font-weight: bold;
}


// Set `margin-bottom` to maintain vertical rhythm
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
	margin-bottom: calc($spacing-unit / 2);
}


// Lists
ul,
ol {
	margin-left: $spacing-unit;
}

li {
	ul,
	ol {
		margin-bottom: 0;
	}
}


// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}


// Links
a {
	color: $light-white;
	text-decoration: none;
	transition: color 1.5s linear;
	&:visited {
		color: $light-white;
	}
	&:hover {
		color: $light-white;
		text-decoration: underline;
		transition: color 1.5s linear;
	}
}


.wrapper a {
	color: $light-white;
	text-decoration: underline dotted $light-white;
	text-decoration-line: underline;
	text-decoration-style: dotted;
	transition: color 1.5s linear;
	&:visited {
		color: $light-white;
	}
	&:hover {
		color: $light-white;
		text-decoration: underline $light-white;
		text-decoration-line: underline;
		text-decoration-style: solid;
		transition: color 1.5s linear;
	}
}


.wrapper .post-title a {
	color: $light-white;
	text-decoration: none;
	transition: color 1.5s linear;
	&:visited {
		color: $light-white ;
	}
	&:hover {
		color: $light-white;
		text-decoration: underline dotted;
		text-decoration-line: underline;
		text-decoration-style: solid;
		transition: color 1.5s linear;
	}
}


// Wrapper
.page-content .wrapper {
	background: $dark-blue;
	padding-top: 50px;
	padding-bottom: 50px;
	border-radius: 10px;
	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
	max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
	margin-right: auto;
	margin-left: auto;
	padding-right: $spacing-unit;
	padding-left: $spacing-unit;
	@extend %clearfix;
	@include media-query($on-laptop) {
		max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
		max-width: calc(#{$content-width} - (#{$spacing-unit}));
		padding-right: calc($spacing-unit / 2);
		padding-left: calc($spacing-unit / 2);
	}
}

.posts-page-content .posts-wrapper .post {
	background: $dark-blue;
	padding-top: 50px;
	padding-bottom: 50px;
	border-radius: 10px;
	margin-top: 30px;
	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
	max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
	margin-right: auto;
	margin-left: auto;
	padding-right: $spacing-unit;
	padding-left: $spacing-unit;
	@extend %clearfix;
	@include media-query($on-laptop) {
		max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
		max-width: calc(#{$content-width} - (#{$spacing-unit}));
		padding-right: calc($spacing-unit / 2);
		padding-left: calc($spacing-unit / 2);
	}
}

.posts-page-content .posts-wrapper .post .post-title a {
	text-decoration: underline dotted;
	text-decoration-line: underline;
	text-decoration-style: dotted;
	transition: color 1.5s linear;
	&:visited {
		color: $light-white ;
	}
	&:hover {
		text-decoration: underline solid;
		text-decoration-line: underline;
		text-decoration-style: solid;
		transition: color 1.5s linear;
	}
}


// Clearfix
%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}


// Footer
.site-footer a {
	color: $light-grey;
	text-decoration: none;
	transition: color 1s linear;
	&:visited {
		color: $light-grey;
	}
	&:hover {
		color: $light-grey;
		text-decoration: underline dotted;
		text-decoration-line: underline;
		text-decoration-style: dotted;
		transition: color 1s linear;
	}
}


// Images
img {
	max-width: 100%;
	vertical-align: middle;
}


// Figures
figure img {
	display: block;
}

figcaption {
	font-size: $small-font-size;
}


// Blockquotes
blockquote {
	color: $light-grey;
	border-left: 4px solid $light-white;
	background-color: $light-blue;
	padding-left: 10px;
	padding-left: calc($spacing-unit / 2);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	font-size: 18px;
	letter-spacing: -1px;
	font-style: italic;
	:last-child {
		margin-bottom: 0;
	}
}


// Code Formatting
pre,
code {
	font-size: 15px;
	border: 1px solid $light-blue;
	border-radius: 3px;
	background-color: $light-blue;
}

code {
	padding: 1px 5px;
}

pre {
	padding: 8px 12px;
	overflow-x: scroll;
	code {
		border: 0;
		padding-right: 0;
		padding-left: 0;
	}
}


// Keyboard Formatting
kbd {
	display: inline;
	display: inline-block;
	min-width: 1em;
	padding: .2em .3em;
	font: normal .85em/1 "Lucida Grande", Lucida, Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
	border: none;
	cursor: default;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	background: $light-blue;
	background: -moz-linear-gradient(top, $light-blue, $dark-blue);
	background: -webkit-gradient(linear, left top, left bottom, from($light-blue), to($dark-blue));
	color: $light-white;
}


// Dark Theme
@media (prefers-color-scheme: dark) {
	// Basic Styling
	body {
		color: $light-white;
		background-color: $light-blue;
	}
}