// Posts Layout Styling
// Title
.site-title {
	font-size: 26px;
	line-height: 56px;
	letter-spacing: -1px;
	margin-bottom: 0;
	float: left;
	&,
	&:visited {
		color: $light-grey;
	}
}

// Search Box
#search-container ::placeholder {
	color: #fdfdfd;
	opacity: 0.2;
	text-align: center;
}

#search-container ::-ms-input-placeholder {
	color: #fdfdfd;
	opacity: 0.2;
	text-align: center;
}

#search-container input {
	font-size: 30px;
	appearance: none;
	border: 3px solid #3f5279;
	border-radius: 0.5em;
	padding: 0.25em 0.75em;
	width: 90%;
	color: #fdfdfd;
	background: #3f5279;
	} #search-container input:focus {
		background: #3f5279;
		color: #fdfdfd;
		border: 3px solid #fdfdfd;
	} #search-container input:focus::placeholder {
		color: #fdfdfd;
	} #search-container input:focus::-ms-input-placeholder {
		color: #fdfdfd;
	}

#search-container {
	left: auto;
	right: auto;
	justify-items: center;
	align-items: center;
}

#search-container ol {
	padding-top: 15px;
}


// Site Footer
footer {
	flex-shrink: 0;
}

.site-footer {
	border-top: 1px solid $dark-blue;
	padding: $spacing-unit;
	background-color: $dark-blue;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.footer-heading {
	font-size: 18px;
	margin-bottom: calc($spacing-unit / 2);
}

.contact-list,
.social-media-list {
	list-style: none;
	margin-left: 0;
	color: $light-grey;
}

.footer-col-wrapper {
	font-size: 15px;
	color: $dark-grey;
	background: $dark-blue;
	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
	max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
	margin-right: auto;
	margin-left: auto;
	padding-right: $spacing-unit;
	padding-left: $spacing-unit;
	@extend %clearfix;
	@include media-query($on-laptop) {
		max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
		max-width: calc(#{$content-width} - (#{$spacing-unit}));
		padding-right: calc($spacing-unit / 2);
		padding-left: calc($spacing-unit / 2);
	}
}

.footer-col {
	float: left;
	margin-bottom: calc($spacing-unit / 2);
	padding-left: calc($spacing-unit / 2);
}

.footer-col-1 {
	width: -webkit-calc(35% - (#{$spacing-unit} / 2));
	width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
	width: -webkit-calc(20% - (#{$spacing-unit} / 2));
	width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
	width: -webkit-calc(45% - (#{$spacing-unit} / 2));
	width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
	.footer-col-1,
	.footer-col-2 {
		width: -webkit-calc(50% - (#{$spacing-unit} / 2));
		width: calc(50% - (#{$spacing-unit} / 2));
	}
	.footer-col-3 {
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width: calc(100% - (#{$spacing-unit} / 2));
	}
}

@include media-query($on-palm) {
	.footer-col {
		float: none;
		width: -webkit-calc(100% - (#{$spacing-unit} / 2));
		width: calc(100% - (#{$spacing-unit} / 2));
	}
}


// Page Content
.page-content {
	padding: $spacing-unit 0;
	flex: 1 0 auto;
}

.page-heading {
	font-size: 20px;
}

.post-list {
	margin-left: 0;
	list-style: none;
	li {
		margin-bottom: $spacing-unit;
	}
}

.task-list {
	margin-left: 0;
	list-style: none;
}

.post-meta {
	font-size: $small-font-size;
	color: $dark-grey;
}

.post-link {
	display: block;
	font-size: 24px;
}


// Posts
.post-header {
	margin-bottom: $spacing-unit;
}

.post-title {
	//font-size: 42px;
	letter-spacing: -1px;
	line-height: $base-line-height;
	@include media-query($on-laptop) {
		font-size: 36px;
	}
}

.post-content {
	margin-bottom: $spacing-unit;
	h2 {
		font-size: 32px;
		@include media-query($on-laptop) {
			font-size: 28px;
		}
	}
	h3 {
		font-size: 26px;
		@include media-query($on-laptop) {
			font-size: 22px;
		}
	}
	h4 {
		font-size: 20px;
		@include media-query($on-laptop) {
			font-size: 18px;
		}
	}
}


// Reset List Style
.post ol,
ul {
	list-style: initial;
}

.post ol {
	list-style-type: decimal;
	margin-left: 30px;
}
.page-content ol {
	list-style-type: decimal;
	margin-left: 30px;
}


// Pagination
.pagination a,
.pagination span {
	padding: 7px 18px;
	border: 0px solid $light-grey;
	margin-left: -2px;
	margin-right: -2px;
	background-color: $light-blue;
	display: inline-block;
	text-decoration: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	transition: 0.5s
}

.pagination a {
	&:hover {
		background-color: $dark-blue;
		color: $light-white;
		text-decoration: none;
		transition: 0.5s
	}
}

.pagination {
	text-align: center;
}

.webjeda {
	background-color: $dark-blue !important;
	color: $light-white !important;
}