// Projects Page Styling
// Small Screen Styling
@media screen and (min-width: 0px) {
	// Basic Formating
	p {
		line-height: $base-line-height;
		margin-left: 15px;
	}
	i {
		font-style: italic;
	}
	b {
		font-weight: bold;
	}


	// Project Images
	.img-wrapper {
		display: block;
		justify-content: center;
	}

	.img-wrapper img {
		display: block;
		border-radius: 2%;
		width: 100%;
		margin-bottom: 25px;
		align-content: center;
		opacity: 0.7;
		transition: opacity 1.0s ease-in-out;
		-moz-transition: opacity 1.0s ease-in-out;
		-webkit-transition: opacity 1.0s ease-in-out;
		&:hover {
			opacity: 1.0;
			transition: opacity 1.0s ease-in-out;
			-moz-transition: opacity 1.0s ease-in-out;
			-webkit-transition: opacity 1.0s ease-in-out;
		}
	}

	.img-wrapper figcaption {
		text-align: center;
		margin-bottom: 25px;
	}

	.img-wrapper a {
		color: $brand-color;
		text-decoration: none;
		&:hover {
			background-color: $grey-color-light;
			color: $brand-color;
			border-radius: 2%;
		}
	}
}

// Small to Desktop Screens
@media screen and (min-width: 1300px) {
	// Project Images
	.img-wrapper {
		display: flex;
		justify-content: center !important;
	}

	.img-wrapper img {
		display: flex;
		max-width: 90%;
		height: 90%;
		margin-top: 25px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 25px;
	}
}


// Dark Theme
@media (prefers-color-scheme: dark) {
	// Project Images
	.img-wrapper a {
		color: $text-color-darktheme;
		&:hover {
			background-color: $brand-color;
			color: $text-color-darktheme;
		}
	}
}