<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include head.html %}

<body data-instant-allow-external-links>
	
	<!-- Menu -->
	{% include menu.html %}

	<div class="page-content">
		<main>
			<div class="wrapper">
				{{ content }}
			</div>
		</main>
	</div>

	<!-- instant.page preloading for websites | https://instant.page/ -->
	<script src="/js/instantpage-5.2.0.js" type="module" defer></script>
	<!-- Webmention.io Email Sign-In -->
	<link href="mailto:personal@anthonyvadala.me" rel="me">
	
</body>

</html>
