.DCinputs {
	padding: .2em .3em;
	border: 3px solid #3f5279;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	font-weight: bold;
	width: 80px;
	text-align: left;
}

.value {
	display: inline;
	font-weight: 900;
	color: #fdfdfd;
}

ul {
	list-style-type: none;
	margin-left: 0 !important;
}